#catarse_echeck_net_form, #catarse_credit_card_net_form
  .checkError
    display: none
    h4
      font-size: 12px
    p
      font-size: 12px
      padding-bottom: 0
      margin-bottom: 0
  hr
    border-color: rgba(black, 0.1)
  .hide
    display: none
