- contribution = @notification.contribution
|Project: #{contribution.project.name}
br/
|Contribution Key: 
strong #{contribution.key}
br/
|Payment ID #: 
strong #{contribution.payment_id}
br/
|Payment Method: 
strong #{contribution.payment_method} 
br/
br/
|This contribution has been cancelled, either by the contributor or by the credit card company.
br/
|Check with payment website for means of payment and transaction status.

