- contribution = @notification.contribution
|Project: #{contribution.project.name}
br
|Contributor: 
strong #{contribution.key}
br
|Created: #{contribution.created_at}
br
|Confirmed: #{contribution.confirmed_at}
