- project = @notification.project
br
| A new project has been created on #{Configuration[:company_name]}
|  by #{link_to project.user.name, user_url(project.user)}.
br
| Project Owner Email: #{mail_to project.user.email}
br
br
| Project Details:

br
b Title:
= " #{project.name}"
br
b Goal:
= " #{project.display_goal}"
br
br
b Existing Contributions:
br
= simple_format(project.first_contributions)
br
b How did you hear about #{Configuration[:company_name]}?
br
= simple_format(project.how_know)
br
br
= link_to "View Project on #{Configuration[:company_name]}", project_url(project)

br
br
| The #{Configuration[:company_name]} Team
