- project = @notification.project
- user = @notification.user
|Howdy, #{user.display_name}.
br
br
| #{project.user.display_name} just started a new project on #{Configuration[:company_name]} and we thought you'd like to know! Check out the awesome work they're doing.
br
br

table border="0" cellpadding="3" cellspacing="0" width="220" align="center"
  tr
    td width="220" valign="top" style="text-align: center;"
      = link_to project.name, project_url(project), style: 'text-decoration: none; color: #333; font-size: 16px; text-align: center;'

br
|High fives,
br
| The #{Configuration[:company_name]} Team
