-backer = @notification.backer
|Howdy, <strong>#{backer.user.display_name}</strong>!
br
br
|Your contribution to #{backer.project.name} is being <strong>processed</strong> on <strong>#{backer.payment_method}</strong>.
br
br
|This is a security measure in order to prevent fraud and no further action is currently required. However, for some payments, the processor will need to contact you directly in order to approve the payment.
br
br
|If the pledge is greater than $10.00, additional documentation may be required to confirm the transaction, in which case they will contact you for further details.
br
br
|We will notify you once your payment has been confirmed.
br
|Contribution Key: 
strong #{backer.key}
br
br
|High fives,
br
|The #{Configuration[:company_name]} Team
