- project = @notification.project
|Howdy #{project.user.name},
br
br
|First, congratulations on the success of your project! You earned it.
br
br
|At your earliest convenience, please review the following instructions regarding next steps. There are two main things you should do:
br
ol 
  li Download the final report with details of your contributors (name, reward, address, etc.) from the #{link_to "reports tab", project_path(project, anchor: "project_reports")} of your project page (you must be logged in as you).
  li Contact your contributors for information needed to fulfill rewards. We are currently working on a system to allow project owners to survey contributors. Meanwhile, the easiest way is to create a #{link_to "Google Form", "https://support.google.com/drive/answer/87809?hl=en"} or #{link_to "SurveyMonkey", "https://www.surveymonkey.com/"} that asks the questions you need to ask, then send it to all contributors.
br
|If you have any other questions, please email us:  #{mail_to Configuration[:email_contact]}
// = link_to 'http://suport.neighbor.ly', 'http://suport.neighbor.ly'
br
br
|High fives,
br
|The #{Configuration[:company_name]} Team
