.home-page
  header.hero
    padding-top: 0
    padding-bottom: +emCalc(50px)
    min-height: +emCalc(200px)

    h2
      font-weight: 500
      text-transform: uppercase

    h3.subtitle
      text-align: center !important
      text-transform: none
      font-size: 140%
      font-weight: 300
      a
        margin-left: +emCalc(10px)
        font-size: 50%
      .has-tip
        color: white
        font-weight: 300

    .sign-up-section
      margin-top: +emCalc(50px)

      a.button
        width: 100%
        background: none
        border: 1px solid #fff
        &:hover
          background: $primary-color
          border-color: transparent

    p
      display: none
      padding: +emCalc(10px)
      text-align: justify
      background: rgba(#FFF, 0.2)

  section.investors
    background: image-url('investors-bg.jpg')
    padding: +emCalc(40px, 0)

    h3
      margin-top: 0
      font-size: 150%
      color: #fff
      text-align: center
      text-transform: uppercase
      font-weight: 400

  section.testimonial
    padding: +emCalc(50px, 0)
    background: $topbar-bg image-url('rosette-testimonial.png') center center no-repeat
    color: #fff
    text-align: center

    blockquote
      color: #fff
      border: none
      padding: 0
      font-weight: 700
      font-size: 115%
      font-style: italic

    .profile-picture
      margin-bottom: +emCalc(15px)
      img
        border-radius: 50%
        margin-right: +emCalc(10px)
        border: 1px solid #fff

  section.projects
    padding: +emCalc(25px) 0

    section
      margin-bottom: +emCalc(20px)
      overflow: hidden

    [class*="column"]:last-child
      float: left

    h3
      text-transform: uppercase
      color: $secondary-font-color
      font-weight: 300
      margin-bottom: +emCalc(10px)
      i
        padding-left: +emCalc(5px)
      a
        color: $secondary-font-color

  section.press
    @extend .white
    padding: +emCalc(45px) 0
    border-top: 1px solid $border-color
    a
      float: left
      margin-right: +emCalc(30px)
      margin-right: +emCalc(20px)\9
      opacity: 0.4
      background: white
      +single-transition(all, 0.5s)
      &:hover
        opacity: 1

      &:last-child
        float: right
        margin-right: 0

  header.hero
    .contain-to-grid
      background: none !important
      z-index: 1000
      text-shadow: none

      .top-bar
        background: none
        margin-bottom: +emCalc(50px)

        .top-bar-section ul
          background: none

          .user-action
            background: none

        .main-menu
          display: none

        .name
          h1
            a
              background: image-url('white-logo@2x.png') center no-repeat
              background: image-url('white-logo.png') center no-repeat\9 // It will apply to all ie from 8 and below
              background-size: cover

        &.expanded
          .title-area
            background: none

          li > a
            background: none

  section.municipal-securities
    padding: +emCalc(50px, 0)

    h3
      font-weight: 400
      text-align: center
      text-transform: uppercase

    p
      padding-top: +emCalc(50px)
      font-size: 125%
      margin-bottom: 0

  section.features
    background: #fff
    padding: +emCalc(50px, 0)

    .list
      margin-top: +emCalc(22px)

    a
      display: block
      padding: +emCalc(5px)
      padding-left: +emCalc(25px)

      h5
        text-transform: uppercase

      p
        color: $secondary-color

      h5
        font-weight: 400
        margin: 0

      p
        margin: +emCalc(10px, 0)

      &.active
        background-color: $primary-color
        color: white

        h5, p
          color: white
    .images
      .read, .invest
        display: none

@media #{$medium}
  .home-page
    header.hero
      h3.subtitle
        font-size: 180%
        text-align: justify

    section.investors

      h3
        font-size: 190%

    section.investors .profile-image
      margin: +emCalc(8px)

@media #{$topbar-media-query}
  .home-page
    .contain-to-grid
      .top-bar
        .sign-in
          a
            background: transparent
            border: none
        .sign-up
          a
            border: none
            &:hover
              background: darken($primary-color, 10%)

        .user-action.with-divider
          a:after
            content: ''
            margin: 0

@media #{$small}
  .home-page
    section.features
      .list
        margin-left: 0%

    section.testimonial
      .profile-picture
        display: inline-block
        margin-bottom: 0

    header.hero
      .sign-up-section
        margin-top: +emCalc(100px)

    section.municipal-securities
      background: image-url('rosette.png') center center no-repeat

@media #{$medium}
  .home-page
    section.features
      .list
        margin-left: -29%
