.home-page
  header.hero
    padding-top: 0
    padding-bottom: +emCalc(150px)
    min-height: +emCalc(200px)
    h2
      font-weight: 500
      text-transform: uppercase

    h3.subtitle
      text-transform: none
      font-size: 140%
      font-weight: 300
      a
        margin-left: +emCalc(10px)
        font-size: 50%
      .has-tip
        color: white
        font-weight: 300
    p
      display: none
      padding: +emCalc(10px)
      text-align: justify
      background: rgba(#FFF, 0.2)

  section.investors
    background: image-url('investors-bg.jpg')
    padding: +emCalc(40px, 0)

    h3
      margin-top: 0
      font-size: 150%
      color: #fff
      text-align: center
      text-transform: uppercase
      font-weight: 400

  section.projects
    padding: +emCalc(25px) 0

    section
      margin-bottom: +emCalc(20px)
      overflow: hidden

    [class*="column"]:last-child
      float: left

    h3
      text-transform: uppercase
      color: $secondary-font-color
      font-weight: 300
      margin-bottom: +emCalc(10px)
      i
        padding-left: +emCalc(5px)
      a
        color: $secondary-font-color

  section.press
    @extend .white
    padding: +emCalc(45px) 0
    border-top: 1px solid $border-color
    a
      float: left
      margin-right: +emCalc(30px)
      margin-right: +emCalc(20px)\9
      opacity: 0.4
      background: white
      +single-transition(all, 0.5s)
      &:hover
        opacity: 1

      &:last-child
        float: right
        margin-right: 0

  header.hero
    .contain-to-grid
      background: none !important
      z-index: 1000
      text-shadow: none

      .top-bar
        background: none
        margin-bottom: +emCalc(50px)

        .top-bar-section ul
          background: none

          .user-action
            background: none

        .main-menu, .search-box
          display: none

        .name
          h1
            a
              background: image-url('white-logo@2x.png') center no-repeat
              background: image-url('white-logo.png') center no-repeat\9 // It will apply to all ie from 8 and below
              background-size: cover

        &.expanded
          .title-area
            background: none

          li > a
            background: none

@media #{$medium}
  .home-page
    header.hero
      height: +emCalc(400px)
      h3.subtitle
        font-size: 180%
        text-align: justify

    section.investors
      h3
        font-size: 190%

    section.investors .profile-image
      margin: +emCalc(8px)

@media #{$topbar-media-query}
  .home-page
    .contain-to-grid
      .top-bar
        .sign-up
          background: $primary-color
          margin-top: +emCalc(-10px)
          padding: +emCalc(10px)
          border-radius: $global-radius

        .sign-up, .sign-in
          color: #fff !important

        .sign-in
          margin-left: +emCalc(15px)

        .user-action.with-divider
          a:after
            content: ''
            margin: 0

