br/
p= "The user #{@params[:name]} as submited a message about the reward of project #{@project.name}"
p The message:
p= "#{@params[:message]}"
p Contact info:
p= "Phone: #{@params[:phone_number]} and Email: #{@params[:email]}"

