.button
  @extend .radius
  text-transform: uppercase
  border-width: 0px
  border-bottom: 2px $button-border-style
  box-shadow: none
  border-bottom-color: darken($primary-color, $button-border-color-darken)
  &.success
    border-bottom-color: darken($success-color, $button-border-color-darken)
  &.alert
    border-bottom-color: darken($alert-color, $button-border-color-darken)
  &.secondary
    border-bottom-color: darken($secondary-color, $button-border-color-darken)
  &:active
    position: relative
    top: 2px

  &.custom
    border: 2px solid $primary-color
    background: transparent
    color: $primary-color

    &:hover
      position: relative
      top: 1px

    &:active
      position: relative
      top: 3px

    &.with-icon
      padding-right: +emCalc(70px)
      &:after
        position: absolute
        display: inline-block
        top: 0
        right: 0
        border-left: 2px solid $primary-color
        font-size: 180%
        width: +emCalc(40px)
        height: 100%
        padding-top: +emCalc(3px)
        @extend [class^="icon-et-"]:before

    &.large
      font-size: 150%
      &.with-icon:after
        padding-top: +emCalc(6px)

