$suggested-plan-margin: 25px
$pricing-table-item-padding: 25px

#learn-page
  h2
    font-size: 300%
    margin-bottom: 0
  h3
    color: $body-font-color
    text-transform: uppercase
  hr
    color: $border-color
    margin-top: +emCalc(15px)
    margin-bottom: +emCalc(15px)
  p
    font-size: 125%
  .hero
    font-size: 80%
    text-transform: uppercase
  .title-information
    margin-bottom: +emCalc(85px)
  .subtitle
    display: block
    font-size: 200%
    font-weight: normal
    margin-top: +emCalc(5px)
  .expand-section
    color: $body-bg
    font-size: 150%
    strong
      font-weight: normal
  .expand-section-icon
    margin-left: +emCalc(20px)
    font-size: 120%
  .section-content
    margin: +emCalc(65px) 0

.pricing-table
  border: 1px solid $body-font-color
  &:first-child
    border-right: none
  &:last-child
    border-left: none
  &.suggested-plan
    position: relative
    top: -$suggested-plan-margin
    li:nth-child(2)
      padding: ($pricing-table-item-padding + $suggested-plan-margin) 0
    li:last-child
      padding-bottom: $pricing-table-item-padding + $suggested-plan-margin
  li
    font-size: 150%
    list-style-type: none
    padding: +emCalc($pricing-table-item-padding) 0
    text-align: center
  li:not(.bullet-item)
    background-color: $box-hover-background-color
  .title
    border-bottom: 1px solid $body-font-color
    font-size: 200%
    padding: +emCalc(10px) 0
    text-transform: uppercase
  .description
    border-bottom: 1px solid $secondary-font-color
  .cta-button
    border-bottom-color: $body-font-color
  .button
    margin-bottom: 0
  .bullet-item
    padding: 15px 25px
    position: relative
    text-align: left
    &:first-child
      padding-top: 30px
    span
      font-size: 125%
      position: absolute
      right: 25px
      top: 7px
    .included
      color: green
    .not-included
      color: red
  .price span
    font-size: 150%
