nav.tabs
  = tab_link_to t('channels.admin.dashboard.index.menu'), channels_admin_dashboard_path
  = tab_link_to t('channels.admin.projects.index.menu'), channels_admin_projects_path
  = tab_link_to t('channels.admin.followers.menu'), channels_admin_followers_path
