[data-action="index"][data-controller="explore"]
  #page_content
    .container
      .main
        margin-left: 0
        margin-right: 0
        width: 720px
        .section_header
          margin-left: 10px
      div.project
        margin: 10px
      #explore_results
        margin-bottom: 20px
      .sidebar
        section
          &.highlights
            h2
              background-image: image-url('neighborly/min_star12x11.png')
          &.categories
            margin-bottom: 20px
            border-bottom: 1px rgba(black, 0.1) solid
            h2
              background-image: image-url('neighborly/category_icon14x14.png')

          h2
            text-transform: none
          ul
            li
              a
                padding: 10px


