| Greetings
- if @resource.name
  | , #{@resource.name}!
br
br
| Forgot your password? No worries! You can reset your password here: 
br
h1 = link_to('Reset my password', edit_password_url(@resource, reset_password_token: @token))
br
| If you run into any other problems, please 
= mail_to "howdy@neighbor.ly", 'drop us a line'
| .
br
br
| All the best,
br
|The #{Configuration[:company_name]} Team
