.row
  section.panel.callout.radius
    p This project is awaiting approval. A member of the Neighbor.ly team will be in touch shortly. Meanwhile, you can continue filling in project details by clicking "Edit Campaign" in the sidebar. Your project will remain in draft mode and will only be visible to you.
