= javascript_include_tag 'catarse_credit_card_net/application'

.catarse-credit-card-net-form
  .title
    h4 = t('payments.credit-card-net.title')
    p = t('payments.credit-card-net.subtitle')

  .alert-box.error.check-error.hide
    h4 = t('payments.common.error.title')
    p.error-name = t('payments.common.error.name')

  .row
    = form_tag pay_credit_card_net_path(params[:id]), id: 'credit-card-form', class: 'custom' do
      .large-6.small-6.columns
        = label_tag :billing_first_name, t('payments.credit-card-net.labels.billing_first_name')
        = text_field_tag :billing_first_name

      .large-6.small-6.columns
        = label_tag :billing_last_name, t('payments.credit-card-net.labels.billing_last_name')
        = text_field_tag :billing_last_name

      .large-12.columns
        = label_tag :card_number, t('payments.credit-card-net.labels.card_number')
        = text_field_tag :card_number

      .large-6.small-6.columns
        = label_tag :expiration_card_month, t('payments.credit-card-net.labels.expiration_card_month')
        .row
          .large-6.small-6.columns
            = select_month Date.today.month+1, { use_month_numbers: true }, { name: 'expiration_card_month', id: 'card_month' }
          .large-6.small-6.columns
            = select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15 }, { name: 'card_year', id: 'card_year' }

      .large-6.small-6.columns
        = label_tag :card_code, t('payments.credit-card-net.labels.card_code')
        = text_field_tag :card_code

      .large-12.columns.terms
        = t('payments.common.terms', link: link_to(t('payments.common.terms-link'), main_app.terms_path(), data: { 'reveal-id' => 'terms-modal', 'reveal-ajax' => true })).html_safe

      .large-6.small-6.columns
        = submit_tag t('payments.common.confirm'), class: 'button', data: { disable_with: t('payments.common.proccessing') }

      .large-6.small-6.columns
        div class="AuthorizeNetSeal pull-right"
  #terms-modal.reveal-modal.small.fixed
