[data-namespace="null"][data-controller="users"][data-action="show"]
  #user_profile
    .section_header
      .user_social
        display: inline
        float: left
        margin-left: 10px
        margin-right: 10px
        width: 400px
        padding-left: 180px
        margin-left: 0
        margin-top: -33px
        ul
          list-style: none
          li
            margin-bottom: 10px
            margin-right: 15px
            padding: 0
            float: left

    h2.ivebacked
      +lato-regular
      font-weight: 700
      font-size: 22px
      display: inline
      float: left
      margin-left: 10px
      margin-right: 10px
      width: 940px
      padding-top: 20px
      padding-bottom: 10px
      border-bottom: 2px #ededed solid
      margin-bottom: 20px
