.project-page
  .backers
    .backer
      margin-bottom: +emCalc(20px)
      .avatar
        border-radius: 50%
      .name
        margin-top: +emCalc(20px)

      .custom-tooltip
        float: left

      .infos
        margin-top: +emCalc(5px)
        i
          margin-right: +emCalc(5px)
          font-size: 150%

    .backers-loading
      text-align: center
      img
        display: none
