.backer-new-page
  header.hero
    min-height: 14.625em
  .share-small
    .button
      font-size: 100%
  .name
    text-align: center
  .title
    text-align: center
    margin-bottom: emCalc(10px)
    h3
      margin-top: emCalc(20px)
      margin-bottom: 0
      font-size: emCalc(34px)
      line-height: 2em
      font-weight: 700
  .subtitle
    text-align: center
    margin-bottom: emCalc(35px)
    p
      font-size: 100%
  span.prefix, span.postfix
    font-size: emCalc(23px)
    height: 100%
    line-height: 170%
    font-size: emCalc(40px)
  
  span.prefix
    color: $primary-color
    border-right: none
    margin-right: emCalc(1px)
    box-shadow: -2px 4px 7px #dfdfdf
    border-bottom-left-radius: emCalc(2px)
    border-top-left-radius: emCalc(2px)

  span.postfix
    border-left: 1px solid #dbdbdb
    color: #999
    margin-left: emCalc(-1px)
    box-shadow: 2px 4px 7px #dfdfdf
    border-bottom-right-radius: emCalc(2px)
    border-top-right-radius: emCalc(2px)

  .with-prefix.with-postfix
    font-size: emCalc(23px)
    text-align: center
    border-radius: 0
    box-shadow: 0 4px 7px #dfdfdf

  .backer_reward
    label.radio
      display: inline-block
      border: 1px solid black
      width: emCalc(445px)
      min-height: emCalc(100px)
      margin-bottom: emCalc(30px)
      margin-right: emCalc(15px)

    input[type="radio"].radio_buttons

    .reward_minimum_value
      position: relative
      margin-top: 20px
      margin-left: 80px
      width: 28%

    .reward_description
      position: relative
      margin-top: emCalc(60px)
      margin-left: emCalc(50px)





