.new-backer-page
  header.hero
    min-height: emCalc(260px)
  .share-small
    .button
      font-size: 100%
  .name
    text-align: center
  .title
    text-align: center
    margin-bottom: emCalc(10px)
    h2
      margin-top: emCalc(20px)
      margin-bottom: 0
      font-weight: 400
  .subtitle
    text-align: center
    margin-bottom: emCalc(35px)
    p
      font-size: 100%
  span.prefix, span.postfix
    font-size: 200%
    height: 100%
    line-height: 170%

  span.prefix
    color: $primary-color
  span.postfix
    color: $secondary-color

  .with-prefix.with-postfix
    font-size: 114%
    text-align: center

  .reward-option
    border: 1px solid $border-color
    +radius($input-radius)
    background: white
    &.row
      margin-bottom: emCalc(15px)
    .minimum-value
      padding-bottom: emCalc(30px)

    .description
      position: relative
      padding-bottom: emCalc(30px)





