.home-page
  section.built-by-people
    background: image-url('courthouse.jpg')
    background-size: cover
    color: #fff
    padding: +emCalc(50px, 0)
    text-align: center

    h3
      font-weight: 400
      text-align: center
      text-transform: uppercase
      color: #fff

    p
      padding-top: +emCalc(50px)
      font-size: 125%
      margin-bottom: 0
      padding-top: 0

    .solution-image
      margin: +emCalc(50px, 0)

    .wrapper-images
      margin: +emCalc(50px, 0)
      height: +emCalc(151px)

      .icon
        position: relative
        display: inline-block
        margin: +emCalc(0, 20px)

        &.start
          margin-left: 0
        &.end
          margin-right: 0
          &:after
            display: none

        &:after
          background: image-url('built-by-people/arrow.png') center no-repeat
          content: ''
          display: block
          height: +emCalc(26px)
          position: absolute
          right: -35px
          top: 45px
          width: +emCalc(27px)

        &.final-state
          position: relative
          top: -151px
          right: -66px

      &.problem
        .icon.solution
          opacity: 0
        .icon.problem
          opacity: 1

      &.solution
        .icon.problem
          opacity: 0
        .icon.solution
          opacity: 1

        .icon._1
          -webkit-animation: icon-move-right 2s linear forwards
          -moz-animation: icon-move-right 2s linear forwards
          -ms-animation: icon-move-right 2s linear forwards
          -o-animation: icon-move-right 2s linear forwards
          animation: icon-move-right 2s linear forwards

        .icon._2
          -webkit-animation: icon-move-right-and-disappear 2s linear forwards
          -moz-animation: icon-move-right-and-disappear 2s linear forwards
          -ms-animation: icon-move-right-and-disappear 2s linear forwards
          -o-animation: icon-move-right-and-disappear2s linear forwards
          animation: icon-move-right-and-disappear 2s linear forwards

        .icon._3
          -webkit-animation: icon-disappear 2s linear forwards
          -moz-animation: icon-disappear 2s linear forwards
          -ms-animation: icon-disappear 2s linear forwards
          -o-animation: icon-disappear 2s linear forwards
          animation: icon-disappear 2s linear forwards

        .icon._4, .icon._5
          -webkit-animation: icon-move-left-and-disappear 2s linear forwards
          -moz-animation: icon-move-left-and-disappear 2s linear forwards
          -ms-animation: icon-move-left-and-disappear 2s linear forwards
          -o-animation: icon-move-left-and-disappear 2s linear forwards
          animation: icon-move-left-and-disappear 2s linear forwards

        .icon._6, .icon._7
          -webkit-animation: icon-appear 2s linear forwards
          -moz-animation: icon-appear 2s linear forwards
          -ms-animation: icon-appear 2s linear forwards
          -o-animation: icon-appear 2s linear forwards
          animation: icon-appear 2s linear forwards

@-webkit-keyframes icon-move-right,
@-moz-keyframes icon-move-right,
@-ms-keyframes icon-move-right,
@-o-keyframes icon-move-right,
@keyframes icon-move-right
  50%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)
  100%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)

@-webkit-keyframes icon-move-right-and-disappear,
@-moz-keyframes icon-move-right-and-disappear,
@-ms-keyframes icon-move-right-and-disappear,
@-o-keyframes icon-move-right-and-disappear,
@keyframes icon-move-right-and-disappear
  0%
    opacity: 1
  50%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)
    opacity: 1
  100%
    opacity: 0
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)

@-webkit-keyframes icon-disappear,
@-moz-keyframes icon-disappear,
@-ms-keyframes icon-disappear,
@-o-keyframes icon-disappear,
@keyframes icon-disappear
  0%
    opacity: 1
  20%
    opacity: 1
  60%
    opacity: 0

@-webkit-keyframes icon-move-left-and-disappear,
@-moz-keyframes icon-move-left-and-disappear,
@-ms-keyframes icon-move-left-and-disappear,
@-o-keyframes icon-move-left-and-disappear,
@keyframes icon-move-left-and-disappear
  0%
    opacity: 1
  50%
    -webkit-transform: translate(-152px, 0)
    -moz-transform: translate(-152px, 0)
    -ms-transform: translate(-152px, 0)
    -o-transform: translate(-152px, 0)
    transform: translate(-152px, 0)
  100%
    opacity: 0
    -webkit-transform: translate(-152px, 0)
    -moz-transform: translate(-152px, 0)
    -ms-transform: translate(-152px, 0)
    -o-transform: translate(-152px, 0)
    transform: translate(-152px, 0)

@-webkit-keyframes icon-appear,
@-moz-keyframes icon-appear,
@-ms-keyframes icon-appear,
@-o-keyframes icon-appear,
@keyframes icon-appear
  0%
    opacity: 0
  30%
    opacity: 0
  80%
    opacity: 1
