=keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content

  @-moz-keyframes #{$animation-name}
    @content

  @-o-keyframes #{$animation-name}
    @content

  @keyframes #{$animation-name}
    @content

=icon-animation($animation-name)
  -webkit-animation: $animation-name 2s linear forwards
  -moz-animation: $animation-name 2s linear forwards
  -ms-animation: $animation-name 2s linear forwards
  -o-animation: $animation-name 2s linear forwards
  animation: $animation-name 2s linear forwards

.home-page
  section.built-by-people
    background: image-url('courthouse.jpg')
    background-size: cover
    color: #fff
    padding: +emCalc(50px, 0)
    text-align: center

    h3
      font-weight: 400
      text-align: center
      text-transform: uppercase
      color: #fff

    p
      padding-top: +emCalc(50px)
      font-size: 125%
      margin-bottom: 0
      padding-top: 0

    .solution-image
      margin: +emCalc(50px, 0)

    .wrapper-images
      margin: +emCalc(50px, 0)
      height: +emCalc(151px)

      .icon
        position: relative
        display: inline-block
        margin: +emCalc(0, 20px)

        &.start
          margin-left: 0
        &.end
          margin-right: 0
          &:after
            display: none

        &:after
          background: image-url('built-by-people/arrow.png') center no-repeat
          content: ''
          display: block
          height: +emCalc(26px)
          position: absolute
          right: -35px
          top: 45px
          width: +emCalc(27px)

        &.final-state
          position: relative
          top: -151px
          right: -66px

      &.problem
        .icon.solution
          opacity: 0
        .icon.problem
          opacity: 1

      &.solution
        .icon.problem
          opacity: 0
        .icon.solution
          opacity: 1

        .icon._1
          +icon-animation(icon-move-right)

        .icon._2
          +icon-animation(icon-move-right-and-disappear)

        .icon._3
          +icon-animation(icon-disappear )

        .icon._4, .icon._5
          +icon-animation(icon-move-left-and-disappear)

        .icon._6, .icon._7
          +icon-animation(icon-appear)

+keyframes(icon-move-right)
  50%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)
  100%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)



+keyframes(icon-move-right-and-disappear)
  0%
    opacity: 1
  50%
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)
    opacity: 1
  100%
    opacity: 0
    -webkit-transform: translate(152px, 0)
    -moz-transform: translate(152px, 0)
    -ms-transform: translate(152px, 0)
    -o-transform: translate(152px, 0)
    transform: translate(152px, 0)

+keyframes(icon-disappear)
  0%
    opacity: 1
  20%
    opacity: 1
  60%
    opacity: 0

+keyframes(icon-move-left-and-disappear)
  0%
    opacity: 1
  50%
    -webkit-transform: translate(-152px, 0)
    -moz-transform: translate(-152px, 0)
    -ms-transform: translate(-152px, 0)
    -o-transform: translate(-152px, 0)
    transform: translate(-152px, 0)
  100%
    opacity: 0
    -webkit-transform: translate(-152px, 0)
    -moz-transform: translate(-152px, 0)
    -ms-transform: translate(-152px, 0)
    -o-transform: translate(-152px, 0)
    transform: translate(-152px, 0)

+keyframes(icon-appear)
  0%
    opacity: 0
  30%
    opacity: 0
  80%
    opacity: 1
