section.channels.default-list
  background: $border-color
  padding:
    top: +emCalc(15px)
    bottom: +emCalc(60px)
  margin-bottom: +emCalc(-40px)
  h3
    text-transform: uppercase
    color: $secondary-font-color
    font-weight: 300
    margin-bottom: +emCalc(10px)
    i
      padding-right: +emCalc(5px)
    a
      color: $secondary-font-color

  .channel
    display: inline-block
    @extend .white
    border: 1px solid darken($border-color, 10%)
