.flash
  padding: 0
  margin: 0

  .alert-box
    padding: +emCalc(20px)
    font-size: 100%
    font-weight: normal
    background: rgba($success-color, 0.80)
    margin: 0

    a:not(.close)
      color: lighten($secondary-color, 30%)
      font-weight: bold

    &.notice
      background: rgba($success-color, 0.75)
    &.alert
      background: rgba($alert-color, 0.75)
    &.secondary
      background: rgba($secondary-color, 0.75)

    &.persistent .close
      display: none

#devise-flash-message
  p
    margin: +emCalc(15px)
    font-size: 1.2rem

  .alert-box
    padding-top: 0
    background: none
    p
      margin-bottom: 0
      color: $success-color

    &.notice
      p
        color: $success-color
    &.alert
      p
        color: $alert-color
    &.secondary
      p
        color: secondary-color
