.hero-header
  background-color: $secondary-color
  padding: +emCalc(60px) 0
  min-height: +emCalc(200px)
  background-size: cover
  background-position: center
  text-align: center
  h2, h3
    color: white
  h2
    font-weight: bold
  h3
    text-transform: uppercase
    font-weight: 300
    padding-top: +emCalc(8px)
