h2 I want to back, what’s next?
h3 How do I contribute?
p Select or enter the amount you wish to contribute. Choose a reward if you want one. Then proceed to checkout.
h3 When is the payment made and confirmed?
p Shortly after your transaction is processed. Usually you will receive confirmation in less than five minutes.
h3 Am I refunded if the project doesn't get the greenlight?
p Yes. You can choose to receive 100% back as credits to apply towards other projects on #{Configuration[:company_name]}.
h3 What if I don't want credits on #{Configuration[:company_name]}?
p No problem. Please visit #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank}, up until 180 days after your payment, and request a refund. Note that 5% is withheld.
h3 How and when do I get my reward?
p Shortly after the project is greenlit, #{link_to @project.user.display_name, user_path(@project.user)} will contact you to arrange delivery.
