.brokerage-page
  .order-warning
    border-bottom: 1px solid
    background-color: white
    font-size: 130%
    line-height: 1.2em
    padding: +emCalc(30px)
    text-align: center
  .maturity-option
    padding-bottom: +emCalc(75px)
    padding-top: +emCalc(40px)
