.brokerage-page
  .order-warning
    border-bottom: 1px solid $border-color
    background: #fff
    padding: +emCalc(30px)
    text-align: center
    p
      margin: 0
  .maturity-option
    padding-bottom: +emCalc(75px)
    padding-top: +emCalc(40px)
    margin-top: +emCalc(25px)
