= javascript_include_tag 'catarse_echeck_net'

.catarse-echeck-net-form
  .title
    h4 = t('payments.echeck-net.title')

  .alert-box.error.check-error.hide
    h4 = t('payments.common.error.title')
    p.error-name = t('payments.common.error.name')

  .row
    = form_tag pay_echeck_net_path(params[:id]), id: 'echeck-form' do

      .large-12.columns.check-numbers
        = image_tag('payments/check-numbers.png')

      .large-12.columns
        = label_tag :account_holder_name, t('payments.echeck-net.labels.account_holder_name')
        = text_field_tag :account_holder_name

      .large-6.small-6.columns
        = label_tag :routing_number, t('payments.echeck-net.labels.routing_number')
        = text_field_tag :routing_number, nil

      .large-6.small-6.columns
        = label_tag :bank_name, t('payments.echeck-net.labels.bank_name')
        = text_field_tag :bank_name, nil, disabled: true

      .large-12.columns
        = label_tag :account_number, t('payments.echeck-net.labels.account_number')
        = text_field_tag :account_number, nil

      .large-12.columns
        = t('payments.common.terms', link: link_to(t('payments.common.terms-link'), main_app.terms_path(), data: { 'reveal-id' => 'terms-modal', 'reveal-ajax' => true })).html_safe

      .large-6.small-6.columns
        = submit_tag t('payments.common.confirm'), class: 'button', data: { disable_with: t('payments.common.proccessing') }

      .large-6.small-6.columns
        .AuthorizeNetSeal.pull-right
