= javascript_include_tag 'catarse_echeck_net'

#catarse_echeck_net_form
  .title
    h1 Checkout using eCheck
  .bootstrap-twitter
    .alert.alert-error.checkError
      h4.alert-heading= "Sorry, something must've gone wrong. Please reload this page and try again."
      p.errorName

  = form_tag pay_echeck_net_path(params[:id]), id: 'echeck_form' do
    = image_tag('neighborly/check-numbers.png', style: 'display: block; width: 528px; height: 254px; margin: 0 auto;')
    br/
    br/
    .input
      = label_tag :account_holder_name
      = text_field_tag :account_holder_name

    .input
      = label_tag :routing_number
      = text_field_tag :routing_number, nil

    .input
      = label_tag :bank_name
      = text_field_tag :bank_name, nil, disabled: true

    .input
      = label_tag :account_number
      = text_field_tag :account_number, nil
    .input.accept
      = label_tag :terms_paypal, raw("I understand and agree with the  #{link_to 'Terms of Service', '#termsModal', :class => 'termsModalLink', :'data-toggle'=>'modal', :'data-url' => '/terms' }")
      = check_box_tag :terms_paypal
    .clearfix
    .submit
      .bootstrap-twitter
        = submit_tag 'Confirm', class: 'btn btn-success btn-large disabled'
    div class="AuthorizeNetSeal" style="float: right;"
