.create-contribution-page
  .hero
    min-height: +emCalc(200px)
    padding: +emCalc(10px) 0
    h3
      text-align: center
      padding-top: 0
    form
      margin-bottom: +emCalc(10px)

  section.content, aside
    margin-top: +emCalc(50px)

  .faqs
    ul
      li
        list-style: none
        margin-bottom: +emCalc(10px)
        a
          i
            margin-right: +emCalc(5px)
