.new-contribution-page
  header.hero
    min-height: emCalc(200px)
    text-align: center

  .share-white
    .button
      background: white
      border-bottom-color: darken($border-color, 10%)
      color: $primary-color
      width: 100%
      &:after
        border-left-color: darken($border-color, 10%)
      &.embed:after
        @extend .icon-et-code:before

  .subtitle
    font-weight: 500
    margin: emCalc(25px)
    text-align: center

  .maturity-option
    background: white
    border-radius: $input-radius
    border: 1px solid $border-color
    color: $secondary-color
    margin-bottom: +emCalc(25px)

    .header
      cursor: pointer
      padding: +emCalc(15px)
      padding-bottom: 0
      text-align: center

      table
        border: none
        margin: auto
        width: 100%

        thead
          background: none
          border-bottom: 1px solid lighten($secondary-color, 30%)
          font-weight: normal

        td
          text-align: center

        tbody
          font-weight: bold

      .happens-at
        font-weight: bold
        color: #222

    &.selected
      border-color: $primary-color

      .details
        display: block

    .details
      background: $body-bg
      display: none
      padding-top: +emCalc(15px)
      text-align: center

      .order-size-input
        width: 20%
        margin: auto
        text-align: center

      fieldset.purchase-amount
        margin: auto
        margin-bottom: +emCalc(25px)
        margin-top: +emCalc(25px)
        width: +emCalc(335px)

        legend
          background: none
          margin-left: 28%

        .amount
          font-size: 200%
          color: $primary-color

      .button
        width: +emCalc(335px)

  .input.boolean
    input
      margin-bottom: emCalc(5px)
