.contribution-page
  .hero
    min-height: +emCalc(235px)
    h3
      text-align: center

  .bankaccount
    padding: +emCalc(50px, 0)
    .buttons
      padding-top: +emCalc(30px)
    .button
      width: 100%

  .share
    @extend .white
    padding: +emCalc(50px, 0)
    .buttons
      padding-top: +emCalc(30px)
    .button
      width: 100%

  .recommended-projects
    margin-top: +emCalc(50px)

    [class*="column"]:last-child
      float: left

  .recommended-projects, .share
    h3
      text-align: center
