strong Are you sure? 
| Contributing publicly will allow others to see your involvement with projects you care about. It might even encourage your friends to get involved!
br
br
| The amount you contribute will never be disclosed to anyone but the project owner. Only your name is visible publicly.
