.dialog.error
  width: 30em
  padding: 2em
  margin: 4em auto 100px auto
  border: 1px solid #ccc
  +lato-regular
  font-size: 17px
  text-align: center
  background: white
  border-radius: 4px

  h1
    font-size: 130%
    color: $pink
    line-height: 1.5em

  p
    padding-top: 1em
