- contact = @notification.company_contact
|A new product demo request has been made by #{contact.first_name} #{contact.last_name}.
br/
h3 Informations:
strong First Name:
|  #{contact.first_name}
br/
strong Last Name:
|  #{contact.last_name}
br/
strong Email Address:
|  #{contact.email}
br/
- if contact.phone.present?
  strong Phone:
  |  #{contact.phone}
br/
strong Company Name:
|  #{contact.company_name}
br/
- if contact.company_website.present?
  strong Company Website:
  |  #{contact.company_website}
  br/

- if contact.message.present?
  strong Message:
  p #{contact.message}
br/
br/
|High fives,
br
|The #{Configuration[:company_name]} Team
