- contact = @notification.contact
|A new contact has been made by #{contact.first_name} #{contact.last_name}.
br/
h3 Informations:
strong Subject:
|  #{contact.subject}
br/
strong First Name:
|  #{contact.first_name}
br/
strong Last Name:
|  #{contact.last_name}
br/
strong Email Address:
|  #{contact.email}
br/
- if contact.phone.present?
  strong Phone:
  |  #{contact.phone}
br/
- if contact.message.present?
  strong Message:
  p #{contact.message}
br/
br/
|High fives,
br
|The #{Configuration[:company_name]} Team
