- contribution = @notification.contribution
|Hi, <strong>#{contribution.user.display_name}</strong> !
br
br
|We spotted that you have R$ #{contribution.user.credits} in credits at Neighbor.ly. What about backing another cool project right now?
br
br
|We have selected below some project suggestions specially for you:
br
br
-contribution.user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Here goes step-by-step so you won’t have any troubles using your credits ;)
br
br
|1 - #{link_to('Choose the project you want to back;', discover_url)}
br
|2 - Click on the 'Back This Project' button;
br
|3 -Tell us how much you want to pledge and make sure you check the box saying you want to use your credits for that..
br
|4 - Click on Review and Proceed to Check Out;
br
|5 -Done! Your pledge will be confirmed =)
br
br
|If you rather ask for a refund, first logon to your Neighbor.ly account and then click #{link_to("here", "#{Configuration[:base_url]}/users/#{contribution.user.to_param}#credits")}.
|#{link_to('This article', 'http://suporte.neighbor.ly/knowledgebase/articles/164746-regras-e-funcionamento-dos-reembolsos-estornos')} aboud refunds will solve most of  your doubts.
br
br
|If you have any other doubts please get in touch with us through our support area: suporte.neighbor.ly.
br
br
|Best regards,
|Neighbor.ly's team
