- match = @notification.match
|Howdy, #{@notification.user.display_name}!
br/
br/
| Your challenge match has reached its deadline. Your generous contribution encouraged #{match.original_contributions.count} other neighbors to contribute to #{match.project.name} for a total of #{number_to_currency match.total_pledged}.
br/
br/
| High fives all around,
br
|The #{Configuration[:company_name]} Team
