- project = @notification.project
- channel = @notification.channel

br
| A new project has been created on #{channel.name} channel by #{link_to project.user.name, user_url(project.user)}.
br
| Project Owner Email: #{mail_to project.user.email}
br
br
| Project Details:
br
br
b Title:
= " #{project.name}"
br
b Goal:
= " #{project.display_goal}"
br
b Summary:
= " #{project.headline}"
br
b Category:
br
= project.category.to_s
br
b City/State:
br
= project.address
br
b Organization Type:
br
= project.display_organization_type
br
br
= link_to "View the Project", project_url(project, subdomain: channel.permalink)
br
br
| The #{channel.name} Team
