- user = @notification.user

| Hey
- if user.name
  | , #{user.name}!

br/
br/
| Thanks for joining Neighbor.ly! You've been added to the waitlist and are currently #{user.ahead_me.ordinalize} in line.
br
br/
| Get your early access code and be among the first to invest with Neighbor.ly by referring your friends. The more you refer, the sooner you'll get access! Your personal referral link: #{link_to root_url(ref: user.referral_code), root_url(ref: user.referral_code)}
br
br
| Already have an early access code? Enter it #{link_to 'here', user_my_spot_url(user)} to skip the line and get started!
br
br
| High fives,
br
| The #{Configuration[:company_name]} Team
