- project = @notification.project
|Hi, #{project.user.display_name},
br
br
|Unfortunately, your All or None project just ended on #{Configuration[:company_name]}, but it did not reach the goal you set for it.
br
br
|All contributions received an email with instructions on how to use their credits on other projects, or how to get a refund. If a contribution contacts you directly, there are two possible scenarios for a refund:
br
ol
   li If the pledge was made using a credit card or through Paypal, when they ask for a refund, it will automatically appear as a credit the next month on the funding source used to make the pledge;
   li If the pledge was made using bank transfer, the contribution will be issued a physical check as a refund.
br
|Also, your feedback is invaluable to us as we strive to constantly improve our service. Will you please email #{mail_to Configuration[:email_contact]} to answer the following two quick questions?
br
ol 
  li What where the 2 worst difficulties you had in this process? (directly with #{Configuration[:company_name]} or with raising funds and project promotion, etc).
  li What did you miss the most on #{Configuration[:company_name]}?
br
|Thank you very much for your participation, and for your feedback.  We hope to serve you again.
br
br
|All the best,
br
|The #{Configuration[:company_name]} Team
