- user = @notification.user
- project = @notification.project
- channel = @notification.channel

|Howdy, #{user.name}!
br
br
|Thank you very much for your project submission to #{channel.name}. We have received it and will follow up shortly. Our team will review your application and follow up with you within 5 business days, probably sooner. The project will either be approved, or sent back to you for further clarification.
br
br
|Meanwhile, you can begin adding details to #{link_to "your project draft", project_url(@notification.project, subdomain: channel.permalink)} if you'd like, but please note that it will remain in draft mode until approval. The possibility exists that it might be rejected.
br
br
|Also,  #{link_to "check out other projects",  "#{Configuration[:base_url]}/explore"} for inspiration. And if you like them, make a contribution! This is a great way to get to know the system, and to show that you support the #{channel.name} movement.
br
br
|Please like #{Configuration[:company_name]} on  #{link_to 'Facebook', Configuration[:facebook_url]} and follow us on #{link_to 'Twitter', "http://twitter.com/#{Configuration[:twitter_username]}" } to stay up to date on new developments. And if you have any questions, please don't hesitate to email us: #{mail_to channel.email}
br
br
|High fives,
br
|The #{channel.name} Team
