- user = @notification.user
|Greetings #{user.name},
br
br
|Thank you for submitting your project to #{Configuration[:company_name]}.
br
br
|Unfortunately we are unable to accept your project submission, due to one or more of the following reasons:
ol 
  li You do not qualify as an eligible entity for raising money through our infrastructure
  li Your project has been deemed outside the scope of civic undertakings
  li Your project does not meet our guidelines for project eligibility
br
|Again, thank you for your submission, and we wish you the best of luck with your project.
br
br
|All the best,
br
|The #{Configuration[:company_name]} Team
