- contribution = @notification.contribution
p User #{contribution.user.display_name}
p Email: #{contribution.user.email}
p Project: #{contribution.project.name}
p Key: #{contribution.key}
p Payment ID: #{contribution.payment_id}
p Contribution amount: #{contribution.display_value} 
p Payment Method: #{contribution.payment_method}
p Created at: #{contribution.created_at}
