- update = Update.find @notification.update_id
br
br
|Howdy, #{@notification.user.display_name}, an update was just posted to #{update.project.name} on #{Configuration[:company_name]}!
br
br
| View the update #{link_to "here", project_url(update.project, anchor: "updates")}, and help spread the word!
br
br
hr
br
h2 #{link_to update.title, project_url(update.project, anchor: "updates")}
= update.comment_html
br
br
hr
br
| Keep on truckin',
br
|The #{Configuration[:company_name]} Team
